{% extends 'base.html' %}
{% block content %}

<div class="container">
<div class="row">



<div class="col"><ul class="list-group">
        
        {% for comment in comments %}
          <li class="list-group-item"> <h3>{{ comment.text }}</h3>  author :{{ comment.author }} date:{{ comment.date }}</li>
        {% endfor %}
      </div>
<div class="col">
  
  <div class="container mt-3">
    <h2>додати коиентар до {{ tasks.task }}</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-sucess" > зберегти коментар</button>
    </form>

</div>

</div>



{% endblock content %}


