{% extends 'base.html' %}
{% block content %}
{% load custom_tags %}

<div class="container">
<div class="row">
        
        {% for comment in comments %}
        

          <li class="list-group-item"> <h3>{{ comment.text }}</h3>  author :{{ comment.author }} date:{{ comment.date }}</li>
        {% endfor %}

        {% if comment.media %}
        <div class="comment-media">
          {% if comment.media.url|endswith:".jpg" or comment.media.url|endith:".png" or comment.media.url|endswith:".jpeg" %}
            <img src="{{ comment.media.url }}" alt="збережання коментаря" style="max-width: :1000px;">
          {% elif comment.media.url|endwith:".mp4" %}
          <video width="320" height="240" controls>
            <source src="{{ comment.media.url }}" type="video/mp4">
            your brouser does suport hte video tag.
          </video>
          {% else %} 
          <a href="{{ comment.media.url }}">завантажити файл</a>
          {% endif %} 
         
         </div>
        {% comment %} <small>афтор {{ comment.author.username }} </small> 
      
      <form action="{% url 'tasks:task-complate' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-sm {% if request.user in comment.likes.all %} btn-success {% else %} btn-outline-success{% endif %}">
          лайк {{ comment.likes.count }}
        </button>
      </form>  {% endcomment %}

<div class="col">
  
  <div class="container mt-3">
    <h2>додати коиентар до {{ tasks.task }}</h2>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-sucess" > зберегти коментар</button>
    </form>

</div>

</div>
 


{% endblock content %}


